<img src="http://static.zenpunch.com/meatspace/images/bandido_white.png" class="gfx alignleft" width="256" height="256" alt="" />

<h1>Welcome to Meatspace &middot; Codename &ldquo;Bandito&ldquo;</h1>

<p>Meatspace is a random repository of documents, websites, and writings, as well as a virtual coding playground and photo gallery. First and foremost, a tool to archive stuff of relative importance to its author and collector, Indro De, but hopefully of some relevance and interest to someone out there in <a href="http://en.wikipedia.org/wiki/Meatspace">meatspace</a> or <a href="http://en.wikipedia.org/wiki/Cyberspace">cyberspace</a>.</p>

<p><a href="#entries" class="large red awesome button" id="showarticle">Read the latest Bandito repository &raquo;</a> &nbsp; <small>or <a href="#archive">browse the archives...</a></small></p>