<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
   	<title>MeatSpace &middot; {{ page.title }}</title>
	<meta name="author" content="Indro De" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="javascripts/meatspace.js"></script>
  	<link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
   	<link rel="stylesheet" href="css/syntax.css" type="text/css" />
</head>

<body>
	<div id="content">
		<div id="navigation">
			<div class="container">
			{% include navigation.html %}
			</div>
		</div>
		<div id="about" class="togglearea">
			<div class="container">
			{% include about.html %}
			</div>
		</div>
		<div id="contact" class="togglearea">
			<div class="container">
			{% include contact.html %}
			</div>
		</div>		
		<div class="container">
    	<div id="main">
			{% include intro.html %}
			<div id="entries">
				{{ content }}
			</div>
    	</div>
		</div>
	</div>
	
	<div id="footer">
		<div class="container">
	  	{% include footer.html %}
		</div>
	</div>
</body>
</html>