<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
   	<title>MeatSpace &middot; {{ page.title }}</title>
	<meta name="author" content="Indro De" />
	<meta name="google-site-verification" content="_GL-oRd_4wDe4vf1Q_kBf7ofo29wjAxviMKs7ufKRYg" />
	<script type="text/javascript" src="http://bandito.indrode.com/javascripts/jquery-1.4.3.min.js"></script>
	<script type="text/javascript" src="http://bandito.indrode.com/javascripts/loopedslider.js"></script>
	<script type="text/javascript" src="http://bandito.indrode.com/javascripts/meatspace.js"></script>
  <link rel="stylesheet" href="http://bandito.indrode.com/css/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="http://bandito.indrode.com/css/syntax.css" type="text/css" />
</head>

<body>
{% include noie6.html %}

	<div id="content">
		<div id="navigation">
			<div class="container">
			{% include navigation.html %}
			</div>
		</div>
		<div id="about" class="togglearea">
			<div class="container">
			{% include about.html %}
			</div>
		</div>
		<div id="archive" class="togglearea">
			<div class="container">
			{% include tags.html %}
			</div>
		</div>
		<div id="contact" class="togglearea">
			<div class="container">
			{% include contact.html %}
			</div>
		</div>
		
		<div id="intro">	
			<div class="container">
    			<div id="main">
					{% include intro.html %}
    			</div>
			</div>
			<div class="spacer short"></div>
			<div id="loopedslider">
				<span style="float:left;">
					<a href="#" class="previous">&lt;</a>
				</span>
				<span style="float:right;">
					 <a href="#" class="next">&gt;</a>
				</span>
			  <div class="slides_container">
					{% include archive.html %}
				</div>

			</div>
			<div id="banner">
				<div class="container">
					<p>&ldquo;Logic will get you from A to B. Imagination will take you everywhere.&rdquo; —Albert Einstein</p>
				</div>
			</div>		
		</div>
		
		<div class="container">
			<div id="entries">
				{{ content }}
			</div>
		</div> 	
	</div>
	
	<div id="footer">
		<div class="container">
	  	{% include footer.html %}
		</div>
	</div>
</body>
</html>