<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	
	<title>Welcome to Foundation</title>
  
	<!-- Included CSS Files -->
	<link rel="stylesheet" href="stylesheets/foundation.css">
	<link rel="stylesheet" href="stylesheets/app.css">

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->

	
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- container -->

	<div id="content">
		<div id="navigation">
			<div class="container">
			{% include navigation.html %}
			</div>
		</div>
		<div id="about" class="togglearea">
			<div class="container">
			{% include about.html %}
			</div>
		</div>
		<div id="archive" class="togglearea">
			<div class="container">
			{% include tags.html %}
			</div>
		</div>
		<div id="contact" class="togglearea">
			<div class="container">
			{% include contact.html %}
			</div>
		</div>
		
		<div id="intro">	
			<div class="container">
    			<div id="main">
					{% include intro.html %}
    			</div>
			</div>
			<div class="spacer short"></div>
			<div id="loopedslider">
				<span style="float:left;">
					<a href="#" class="previous">&lt;</a>
				</span>
				<span style="float:right;">
					 <a href="#" class="next">&gt;</a>
				</span>
			  <div class="slides_container">
					{% include archive.html %}
				</div>

			</div>
			<div id="banner">
				<div class="container">
					<p>&ldquo;Logic will get you from A to B. Imagination will take you everywhere.&rdquo; —Albert Einstein</p>
				</div>
			</div>		
		</div>
		
		<div class="container">
			<div id="entries">
				{{ content }}
			</div>
		</div> 	
	</div>
	
	<div id="footer">
		<div class="container">
	  	{% include footer.html %}
		</div>
	</div>


	<!-- container -->


	<!-- Included JS Files -->
	<script src="javascripts/foundation.js"></script>
	<script src="javascripts/app.js"></script>
	
</body>
</html>